pkgbase = file-explorer-git
	pkgdesc = GTK4 file explorer with favorites, search, preview, and file operations
	pkgver = 0.r0.g0000000
	pkgrel = 1
	url = https://github.com/EvansOgala/file-explorer
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = python
	makedepends = python-gobject
	makedepends = gtk4
	depends = glibc
	depends = xdg-utils
	optdepends = polkit: root-open support through pkexec
	provides = file-explorer
	conflicts = file-explorer
	options = !strip
	options = !debug
	source = file-explorer-git::git+https://github.com/EvansOgala/file-explorer.git
	sha256sums = SKIP

pkgname = file-explorer-git
